<app-side-bar></app-side-bar>

  <h2 class="hedo">
    Welcome <span style="color: red;"><strong>ADMIN</strong></span>to the dashboard
  </h2>

<div class="wrapper" >

  <div class="dashboard-card">
    <h3>Places disponibles</h3>
    <p><strong>500</strong></p>
  </div>

  <div class="dashboard-card">
    <h3>Total des véhicules</h3>
    <p><strong>100</strong></p>
  </div>

  <div class="dashboard-card">
    <h3>Abonnements</h3>
    <p><strong>50</strong></p>
  </div>

  <div class="dashboard-card">
    <h3>Utilisateurs</h3>
    <p><strong>200</strong></p>
  </div>

  <div class="dashboard-card">
    <h3>Entrées aujourd'hui</h3>
    <p><strong>20</strong></p>
  </div>

  <div class="dashboard-card">
    <h3>Sorties aujourd'hui</h3>
    <p><strong>15</strong></p>
  </div>

  <!-- Add more rectangles as needed -->



</div>
