
<app-side-bar></app-side-bar>

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Add new Client to the parking </h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form  [formGroup]="addUserForm" (submit)="saveUser()">
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="text" name="name" placeholder="Name"  formControlName="name"  required />
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="text" name="username" placeholder="Username"  formControlName="username"  required />
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="password" placeholder="Password" formControlName="password" required />
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="name"  formControlName="phone" placeholder="Phone number" />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="age"  formControlName="age" placeholder="Age" required />
              </div>
            </div>
          </div>
          <input class="button" type="submit" value="Register" />

        </form>
      </div>
    </div>
  </div>
</div>
