


<app-side-bar></app-side-bar>

<div class="container">
  <h2>List of All Clients <span style="color: red;">  <small><strong> 500</strong></small> </span></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">#Id</div>
      <div class="col col-2">Client full Name</div>
      <div class="col col-3">Phone Number</div>
      <div class="col col-4">Age</div>
      <div class="col col-5">Vehicles </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">HADDAD MOHAMMED</div>
      <div class="col col-3" data-label="Amount">0657451913</div>
      <div class="col col-4" data-label="Payment Status">
        30

      </div>
       <div class="col col-5" data-label="Payment Status" style="margin-top: -8px;">
       <button class="btn btn-primary rounded rounded-circle">
          <strong>3</strong>
       </button>

      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">HADDAD MOHAMMED</div>
      <div class="col col-3" data-label="Amount">0657451913</div>
      <div class="col col-4" data-label="Payment Status">
        30

      </div>
       <div class="col col-5" data-label="Payment Status" style="margin-top: -8px;">
       <button class="btn btn-primary rounded rounded-circle">
          <strong>3</strong>
       </button>

      </div>
    </li><li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">HADDAD MOHAMMED</div>
      <div class="col col-3" data-label="Amount">0657451913</div>
      <div class="col col-4" data-label="Payment Status">
        30

      </div>
       <div class="col col-5" data-label="Payment Status" style="margin-top: -8px;">
       <button class="btn btn-primary rounded rounded-circle">
          <strong>3</strong>
       </button>

      </div>
    </li><li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">HADDAD MOHAMMED</div>
      <div class="col col-3" data-label="Amount">0657451913</div>
      <div class="col col-4" data-label="Payment Status">
        30

      </div>
       <div class="col col-5" data-label="Payment Status" style="margin-top: -8px;">
       <button class="btn btn-primary rounded rounded-circle">
          <strong>3</strong>
       </button>

      </div>
    </li><li class="table-row">
      <div class="col col-1" data-label="Job Id">42235</div>
      <div class="col col-2" data-label="Customer Name">HADDAD MOHAMMED</div>
      <div class="col col-3" data-label="Amount">0657451913</div>
      <div class="col col-4" data-label="Payment Status">
        30

      </div>
       <div class="col col-5" data-label="Payment Status" style="margin-top: -8px;">
       <button class="btn btn-primary rounded rounded-circle">
          <strong>3</strong>
       </button>

      </div>
    </li>
  </ul>
</div>
