

<app-side-bar></app-side-bar>

<div class="container">
  <h2>List of All Clients <span style="color: red;">  <small><strong> 500</strong></small> </span></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">#Id</div>
      <div class="col col-2">ID de l'utilisateur</div>
      <div class="col col-3">Matrecule</div>
      <div class="col col-4">Model</div>
      <div class="col col-5">Subscription</div>
    </li>
    <li class="table-row" *ngFor="let vehicle of vehicles" >
      <div class="col col-1" data-label="Job Id">{{vehicle.id}}</div>
      <div class="col col-2" data-label="Customer Name">{{vehicle.user_id}}</div>
      <div class="col col-3" data-label="Amount">{{vehicle.matricule}}</div>
      <div class="col col-4" data-label="Payment Status">{{vehicle.model}}
      </div>
       <div class="col col-5" data-label="Payment Status" style="margin-top: -8px;">
       <button class="btn btn-primary rounded rounded-circle">
          <strong>{{vehicle.subscription.type}}</strong>
       </button>

      </div>
    </li>

  </ul>
</div>
