


<section class="bg">


  <section class="hero">
    <div class="hero-content">

        <h1>the <span style="font-size: 80px; font-weight: 800px; font-family: Brush Script MT;" >PARKING IOT</span>  app</h1>

       <a href="/login" class="cta-button">Login</a>
    </div>
  </section>

  <section class="features">
    <div class="feature">

    </div>
    <div class="feature">

    </div>
    <div class="feature">
    </div>

  </section>

  <footer class="footer">
    <p>&copy; ParkingApp.      All rights reserved.</p>
  </footer>

</section>
