
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/* Reset some default styling */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.bg {
  background-image: url('./wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
  color: #fff;
  text-align: center;
    padding: 200px 0;
}
.hero {
    margin-top: -30px;
  color: #fff;
  text-align: center;

}

.hero-content h1 {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}


.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.features {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.feature {
  text-align: center;
  padding: 20px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #1f4e7a;
  color: #fff;
}
