<div class="area"></div>

<div *ngIf="user.isAdmin">

  <nav class="main-menu">
    <ul>
      <li>
        .
     </li><li>
      .
   </li><li>
    .
  </li>
      <li>
        .
     </li>

        <li>
            <a  (click)="redirectTo('/dashboard')" >
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                  Dashboard
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a (click)="redirectTo('user/users-list')">
              <i class="fa fa-users" aria-hidden="true"></i>
               <span class="nav-text">
                    List of Users
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a (click)="redirectTo('/vehicle/vehicles-list')">
              <i class="fa fa-th-list" aria-hidden="true"></i>
              <span class="nav-text">
                   List of Vehicles
                </span>
            </a>

        </li>
        <li >
            <a (click)="redirectTo('/user/add-user')">
              <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="nav-text">
                    Add user
                </span>
            </a>

        </li>
        <li>
            <a (click)="redirectTo('/vehicle/add-vehicle')">
              <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="nav-text">
                   Add Vehicle
                </span>
            </a>
        </li>
        <li>
            <a (click)="redirectTo('/dashboard')">
              <i class="fa fa-flag" aria-hidden="true"></i>
                <span class="nav-text">
                  Reports
                </span>
            </a>
        </li>
        <li>
           <a (click)="redirectTo('/dashboard')">
               <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                   Settings
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a (click)="redirectTo('/login')">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
  </nav>

</div>

<div *ngIf="!user.isAdmin">

  <nav class="main-menu">
    <ul>
      <li>
        .
     </li><li>
      .
   </li><li>
    .
  </li>
      <li>
        .
     </li>


        <li>
            <a (click)="redirectTo('/dashboard')">
              <i class="fa fa-flag" aria-hidden="true"></i>
                <span class="nav-text">
                  Reports
                </span>
            </a>
        </li>
        <li>
           <a (click)="redirectTo('/dashboard')">
               <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                   Settings
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a (click)="redirectTo('/login')">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
  </nav>

</div>
